<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://previews.123rf.com/images/leoedition/leoedition1609/leoedition160900205/62839736-servicios-inform%C3%A1ticos-plana-ilustraci%C3%B3n-conceptos-establecidos-conceptos-de-dise%C3%B1o-de-planos-para-b.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://us.123rf.com/450wm/indigofish/indigofish1408/indigofish140800040/30875956-un-conjunto-moderno-de-la-infograf%C3%ADa-y-los-iconos-de-medios-sociales-dise%C3%B1o-de-infograf%C3%ADas-abstracta.jpg?ver=6" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://previews.123rf.com/images/darkink/darkink1310/darkink131000008/22964689-plantilla-para-la-infograf%C3%ADa-de-la-inform%C3%A1tica-cloud-con-gr%C3%A1ficos-de-estilo-vintage.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center mt-3">
            <h1>Nuestros servicios</h1>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://previews.123rf.com/images/olechkaolia/olechkaolia1605/olechkaolia160500032/56632641-dibujados-a-mano-elementos-de-dise%C3%B1o-de-cosecha-para-el-caf%C3%A9-tienda-mercado-caf%C3%A9-tipograf%C3%ADa-para-imp.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/photos/brown-beans-with-burlap-bag-on-the-white-table-harvest-of-coffee-in-picture-id884330826?s=2048x2048" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://estaticos-cdn.elperiodico.com/clip/ae8b899a-60a1-4613-8d17-4c11ec4c3cab_alta-libre-aspect-ratio_default_0.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>